@import '../src/Styles/variables.css';

@tailwind base;
@tailwind components;
@tailwind utilities;



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: 'Poppins', sans-serif;
    /* padding: 50px;
    padding: 50px; */
  }

  /* @media (min-width: 1536px){
    body{
        margin: 0px 200px 0px 200px;
    }

  }

  @media (min-width: 1280px){
    body{
        margin: 0px 150px 0px 150px;
    }

  } */
