@import '../src/Styles/variables.css';

@tailwind base;
@tailwind components;
@tailwind utilities;



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: 'Poppins', sans-serif;
  }

  @layer utilities {
    .responsive-padding {
      @apply px-psm xl:px-pxl 2xl:px-p3xl 3xl:px-p3xl;
    }
  }
 
